*{ margin:0; padding:0; box-sizing:borde-box;}
body {
    font-family: 'Be Vietnam Pro', sans-serif;
    min-height: 100vh;
    max-width: 480px;
    margin: auto;
    background-color: green ;}
video{display: flex; flex-direction: column;margin-top: -2%;}
p{font-size:large;color: wheat;}
